<div class="bg-secondary rounded">
    <h1>Bonjour {{ user.username }}</h1>
    <p>Pour vérifier votre compte merci de cliquer sur le lien ci-dessous</p>
    <a href="{{ signedUrl|raw }}">Confirmer mon compte</a>
</div>
